@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin container {
  padding-left: 104px;
  padding-right: 104px;

  @include mobile {
    padding-left: 16px;
    padding-right: 16px;
  }
}
