@import "./variable";
@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin container {
  width: 100%;
  max-width: 1232px;
  @include mobile {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@mixin centerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@mixin radiusCard {
  border-radius: $radius_c_d;
  @include mobile {
    border-radius: $radius_c_m;
  }
}
@mixin radial {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(165, 70, 1, 0.3) 0%,
    rgba(25, 199, 168, 0) 100%
  );
}
