//color
$gray_15: #f8f8f8;
$gray_30: #cacaca;
$gray_45: #969696;
$gray_60: #363636;
$gray_75: #242424;
$gray_90: #151515;

$bg_light: #242424;
$bg_dark: #0e0e0e;

$opacity_w_06: rgba(255, 255, 255, 0.06);
$opacity_w_15: rgba(255, 255, 255, 0.15);
$opacity_w_30: rgba(255, 255, 255, 0.3);
$opacity_w_60: rgba(255, 255, 255, 0.6);

$opacity_b_10: rgba(0, 0, 0, 0.1);
$opacity_b_20: rgba(0, 0, 0, 0.2);
$opacity_b_40: rgba(0, 0, 0, 0.4);
$opacity_b_80: rgba(0, 0, 0, 0.8);

$brand: #c71919;
$brand_hover: #a50104;

$error: #e6514b;

//size
//border-radius
$radius_s_d: 80px;
$radius_s_m: 40px;

$radius_c_d: 40px;
$radius_c_m: 24px;

$radius_ca: 16px;

$radius_d: 24px;
