@import "../../../../sass/variable";
@import "../../../../sass/mixin";

.container {
  @include container();
  height: 99px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include mobile {
    height: 40px;
    align-items: end;
  }
}
.brand {
  width: 202px;
  height: 51px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  @include mobile {
    width: 30px;
    align-items: end;
  }
  .img {
    width: 56px;
    @include mobile {
      width: 31px;
      height: 28px;
    }
  }
  p {
    color: $gray_15;
    width: 138px;
    font-weight: 700;
    font-size: 26px;
    text-wrap: nowrap;
    letter-spacing: -0.03em;
    @include mobile {
      font-size: 15px;
    }
  }
}
