@import "../../../../sass/variable";
@import "../../../../sass/mixin";
.desktop {
  gap: 40px;
  list-style: none;
  display: flex;
  @include mobile {
    display: none;
  }
}
.navItem {
  font-weight: 400;
  size: 16px;
  color: #969696;
  &:first-child {
    color: $gray_15;
  }
}
.burgerIcon {
  display: none;
  @include mobile {
    display: block;
  }
}
