@import "../../sass/variable";
@import "../../sass/mixin";
.wrapper {
  color: $gray_15;
}
.content {
  padding: 40px 0;
  @include tab {
    padding: 24px 0;
  }
  h3 {
    font-size: 20px;
    font-weight: bold;
    @include tab {
      font-size: 18px;
    }
  }
  p {
    padding-top: 8px;
    font-size: 16px;
    line-height: 38px;
    font-weight: 400;
  }
}
