@import "../../sass/variable";
@import "../../sass/mixin";
.wrapper {
  color: $gray_15;
  h1 {
    padding-bottom: 8px;
  }
  p {
    padding-bottom: 40px;
    font-size: 16px;
    line-height: 38px;
    @include tab {
      padding-bottom: 16px;
    }
  }
}
.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;

  @include md {
    flex-direction: column;
  }
}
