@import "../../../../sass/variable";
@import "../../../../sass/mixin";
.wrapper {
  @include centerWrapper();
}
.footer {
  @include container();
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  @include tab {
    flex-direction: column;
    align-items: start;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  ul {
    width: 550px;
    list-style: none;
    color: $gray_15;
    display: flex;
    justify-content: space-between;
    @include tab {
      flex-direction: column;
      align-items: start;
      width: 100%;
    }
    li {
      padding-top: 20px;
    }
  }
}

.brand {
  width: 202px;
  height: 51px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  @include tab {
    width: 116px;
    align-items: end;
  }
  .img {
    width: 56px;
    @include tab {
      width: 31px;
      height: 28px;
    }
  }
  p {
    color: $gray_15;
    width: 138px;
    font-weight: 700;
    font-size: 28px;
    text-wrap: nowrap;
    @include tab {
      font-size: 16px;
    }
  }
}
.support {
  color: $gray_45;
  div {
    padding-top: 20px;
    display: flex;
    align-items: center;
  }
}
.copy {
  @include centerWrapper();
  height: 40px;
  background-color: $bg_dark;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $gray_45;
  padding-top: 10px;
  font-size: 12px;
  span {
    @include container();
    background-color: $bg_dark;
    width: 100%;
    height: 40px;
  }
}
