@import "../../../../sass/variable";
@import "../../../../sass/mixin";
.wrapper {
  background-color: $bg_dark;
  @include centerWrapper();
}
.container {
  @include container();
  background-color: $bg_dark;
  color: $gray_15;
  padding-top: 80px;
  @include mobile {
    padding-top: 40px;
  }
}
.title {
  display: flex;
  justify-content: space-between;
  row-gap: 12px;
  flex-wrap: wrap;
  padding-bottom: 40px;
  &:first-child {
    h3 {
      font-weight: bold;
      font-size: 40px;
      color: $gray_15;
      padding-bottom: 12px;
    }
    p {
      font-weight: 400;
      size: 16px;
      color: $gray_30;

      line-height: 36px;
    }
  }
  @include tab {
    flex-direction: column;
    padding-bottom: 12px;
  }
}
.teamWrapper {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(236px, 1fr));
  gap: 40px;
}
.teamCard {
  display: flex;
  align-items: center;

  span {
    padding-left: 12px;
    font-weight: bold;
    font-size: 16px;
    line-height: 36px;
  }
}
.select {
  width: 275px;
}
