@import "../../../../sass/variable";
@import "../../../../sass/mixin";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 24px;
  height: 24px;
}

.checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.customCheckbox {
  width: 18px;
  height: 18px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  position: relative;
}

.wrapper input:checked + .customCheckbox {
  background-color: $brand;
  border-color: $brand;
}
