@import "../../../../sass/variable";

@import "../../../../sass/mixin";

.wrapper {
  display: flex;
  flex-direction: column;
  color: white;
  width: 596px;
  position: relative;

  @include tab {
    width: 100%;
  }

  label {
    font-size: 14px;
    color: $gray_30;
    font-weight: 500;
    padding-bottom: 12px;
  }

  .selectBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    font-size: 14px;
    font-weight: 500;
    background-color: $opacity_w_06;
    border-radius: 32px;
    color: $gray_15;
    padding: 8px 20px;
  }
  .focus {
    background-color: $opacity_w_15;
  }
  .optionsList {
    list-style: none;
    background-color: $opacity_w_15;
    backdrop-filter: blur(40px);
    border-radius: 24px;
    max-height: 192px;
    position: absolute;
    top: 80px;
    width: 100%;
    z-index: 10;
  }

  .option {
    padding: 15px 20px;
    font-size: 14px;
    border-radius: 32px;
    cursor: pointer;
    color: $gray_15;
    transition: background-color 0.2s ease-in-out;

    &.selected {
      background-color: $opacity_w_15;
      color: $gray_15;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
    }
  }
}
.selectedOption {
  span {
    color: $opacity_w_30;
    font-size: 14px;
    font-weight: 500;
  }
}
.errorMessage {
  font-size: 12px;
  font-weight: 400;
  color: $error;
  padding-top: 4px;
}
.errorSelect {
  background-color: $opacity_brand_20 !important;
  border: 1px solid $error;
}
.full {
  width: 100%;
}
