@import "../../../../sass/variable";
@import "../../../../sass/mixin";
.wrapper {
  @include centerWrapper();
  background-color: $bg_dark;
  border-bottom-left-radius: $radius_s_d;
  border-bottom-right-radius: $radius_s_d;
  @include mobile {
    border-bottom-left-radius: $radius_s_m;
    border-bottom-right-radius: $radius_s_m;
  }
}
.container {
  @include container();
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  background-color: $bg_dark;
  padding-top: 80px;
  padding-bottom: 80px;
  @include mobile {
    flex-direction: column;
  }
}
.img {
  height: 391px;
  border-radius: $radius_c_d;
  @include mobile {
    width: 100%;
    height: 446px;
    border-radius: $radius_c_m;
  }
}
.content {
  width: 100%;
  height: 389px;
  padding: 40px;
  border-radius: $radius_c_d;
  background-color: $gray_75;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  @include mobile {
    height: 390px;
    border-radius: $radius_c_m;
    padding: 16px;
  }
}
.title {
  color: $gray_15;
  h2 {
    font-weight: bold;
    font-size: 72px;

    @include mobile {
      text-wrap: nowrap;
      font-size: 42px;
    }
  }
  p {
    font-size: 16px;
    margin-top: 20px;
    @include mobile {
      line-height: 32px;
    }
  }
}
.date {
  display: flex;
  justify-content: space-between;

  @include mobile {
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
  }
}
.loc {
  color: $gray_15;

  div {
    display: flex;
    align-items: center;
    padding: 8px 0;
    &:last-child {
      margin-left: 35px;
    }
  }
}
.timer {
  @include mobile {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.radial1 {
  @include radialFinal1();
}
.radial2 {
  @include radialFinal2();
}
