@import "../../../../sass/variable";
@import "../../../../sass/mixin";
.cont {
  @include centerWrapper();
}
.container {
  @include container();
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: $radius_s_d;
  padding-bottom: $radius_s_d;

  @include tab {
    padding-top: $radius_s_m;
    padding-bottom: $radius_s_m;
  }
}
.about {
  @include radiusCard();
  padding: 40px;
  color: $gray_15;
  background-color: $opacity_w_06 !important;
  position: relative;
  overflow: hidden;
  margin-bottom: -40px;
  @include tab {
    padding: 16px;
    margin-bottom: 0;
    width: 328px;
  }
  @include mob {
    width: 100%;
  }
  h2 {
    font-size: 40px;
    font-weight: bold;
  }
  p {
    font-size: 16px;
    line-height: 38px;
    width: 100%;
    padding-top: 10px;
  }
  .radial {
    @include radialAbout();
  }
  .radial1 {
    @include radialAbout1();
  }
}
.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  @include tab {
    flex-direction: column;
    padding-top: 40px;
    align-items: center;
  }
}
.img {
  width: 782px;
  @include tab {
    width: 328px;
    height: 188px;
  }
  @include mob {
    width: 100%;
    height: auto;
  }
}
.overview {
  @include radiusCard();
  width: 410px;
  height: 448px;
  padding: 40px;
  background-color: $opacity_w_06;
  color: $gray_15;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  position: relative;
  overflow: hidden;
  @include tab {
    height: 291px;
    width: 328px;
    margin-top: 40px;
    height: 291px;
    padding: 16px;
  }
  @include mob {
    width: 100%;
  }
  h3 {
    font-weight: bold;
    font-size: 40px;
    text-wrap: nowrap;
    @include mobile {
      font-size: 28px;
    }
  }
  ul {
    height: 188px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include tab {
      height: 128px;
    }
    li {
      display: flex;
      align-items: center;
    }
  }
  .radial2 {
    @include radialAbout2();
  }
}
