@import "../../../../sass/variable";
@import "../../../../sass/mixin";
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $bg_dark;
  padding-top: 100px;
  padding-bottom: 50px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  @include mobile {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }
}
.title {
  width: 100%;
  height: 102px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  h3 {
    font-weight: bold;
    font-size: 40px;
    color: $gray_15;
  }
  p {
    font-weight: 400;
    size: 16px;
    color: $gray_30;
  }
}
.cardWrapper {
  @include container();
  width: 100%;
  display: flex;
  justify-content: space-between;
  &:first-child {
    @include radialTopRight();
  }
  @include mobile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.card {
  @include radiusCard();
  width: 382px;
  height: 372px;
  margin-top: 30px;
  background-color: $opacity_w_06;
  color: $gray_15;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
  .radialTopRight {
    @include radialTopRight();
  }
  .radialBottomLeft {
    @include radialBottomLeft();
  }
  .radialLeft {
    @include radialLeft();
  }
  h5 {
    font-weight: bold;
    font-size: 40px;
  }
  .img {
    width: 160px;
    height: 126px;
  }
  p {
    width: 304px;
    text-align: center;
  }
}

.note {
  text-align: center;
  margin-top: 28px;

  span:first-child {
    font-weight: 700;
    font-size: 16px;
    color: $gray_15;
  }
  span:last-child {
    font-weight: 400;
    font-size: 15px;
    color: $gray_45;
  }
}
