@import "../../../../sass/variable";
@import "../../../../sass/mixin";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $bg_dark;
  padding: 104px 0;
  border-bottom-left-radius: $radius_s_d;
  border-bottom-right-radius: $radius_s_d;
  @include tab {
    border-bottom-left-radius: $radius_s_m;
    border-bottom-right-radius: $radius_s_m;
    padding: 64px 0 16px 0;
  }
  .title {
    text-align: center;
    padding-bottom: 40px;
    h3 {
      font-weight: bold;
      font-size: 40px;
      color: $gray_15;
    }

    p {
      font-weight: 400;
      size: 16px;
      line-height: 38px;
      color: $gray_30;
      padding-top: 12px;
    }
  }
  @include tab {
    padding-bottom: 24px;
  }
}

.cardWrapper {
  @include container();
  width: 100%;
  display: flex;
  gap: 40px;
  align-items: flex-end;
  @include md {
    gap: 16px;
  }
  @include tab {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 910px;
  }
}

.card {
  @include radiusCard();
  width: 382px;
  height: 373px;
  padding: 40px;
  background-color: $opacity_w_06;
  color: $gray_15;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  @include md {
    width: 352px;
    padding: 24px;
  }
  @include tab {
    width: 328px;
    height: 273px;
    padding: 24px 29px;
  }
  @include mob {
    width: 100%;
  }

  .radialTopRight {
    @include radialTopRight();
  }

  .radialBottomLeft {
    @include radialBottomLeft();
  }

  .radialLeft {
    @include radialLeft();
  }

  h5 {
    font-weight: bold;
    font-size: 40px;
    @include md {
      font-size: 32px;
    }
    @include tab {
      font-size: 40px;
    }
  }

  p {
    font-size: 16px;
    text-align: center;
    line-height: 38px;
    font-weight: 400;
    @include md {
      font-size: 12px;
    }
    @include tab {
      font-size: 16px;
    }
  }
  &:nth-child(2) {
    width: 388px;
    height: 410px;
    @include md {
      width: 356px;
    }
    @include tab {
      order: 1 !important;
      height: 330px;
      width: 328px;
    }
    @include mob {
      width: 100%;
    }
  }
  &:first-child {
    @include tab {
      order: 2 !important;
    }
  }
  &:last-child {
    @include tab {
      order: 3 !important;
    }
  }
}

.note {
  text-align: center;
  margin-top: 28px;
  padding: 0px 13px;
  span:first-child {
    font-weight: 700;
    font-size: 16px;
    color: $gray_15;
  }

  span:last-child {
    font-weight: 400;
    font-size: 15px;
    color: $gray_45;
  }
}
