@import "../../../../sass/variable";
@import "../../../../sass/mixin";
.backDrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 999999;
  background-color: $opacity_b_40;
  backdrop-filter: blur(40px);
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 480px;
  border-radius: 40px;
  overflow: hidden;
  background-color: $gray_75;
  color: $gray_15;
  text-align: center;
  z-index: 99999999999999;
  @include tab {
    width: 328px;
  }
  h3 {
    padding-top: 24px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
  }
  p {
    padding: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 38px;
    @include tab {
      padding: 16px;
      font-size: 15px;
    }
  }
  .btn {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 24px !important;
  }
}
.boxRadial {
  @include radial();
  position: absolute;
  left: -251px;
  top: -294px;
  width: 613px;
  height: 482px;
  border-radius: 100%;
}
