@import "../../sass/variable";
@import "../../sass/mixin";
.information {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  border-top: 1px solid $opacity_w_15;
  padding-top: 40px;
  @include mobile {
    flex-direction: column;
    width: 100%;
    padding-top: 32px;
  }
}
